<div class="container-fluid" >

  <button routerLink="/Registrar" type="button" class="btn btn-dark">Agregar </button>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id_empleado</th>
      <th scope="col">Nombre</th>
      <th scope="col">ap_paterno</th>
      <th scope="col">ap_materno</th>
      <th scope="col">sexo</th>
      <th scope="col">edad</th>
      <th scope="col">fecha_nacimiento</th>
      <th scope="col">telefono</th>
      <th scope="col">correo</th>
      <th scope="col">colonia</th>
      <th scope="col">calle</th>
      <th scope="col">cp</th>
      <th scope="col">id_rol</th>
      <th scope="col">id_departamento</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of ListarEmpleado">
      <th>{{empleado.id_empleado}}</th>
      <td>{{empleado.nombre}}</td>
      <th>{{empleado.ap_paterno}}</th>
      <td>{{empleado.ap_materno}}</td>
      <th>{{empleado.sexo}}</th>
      <td>{{empleado.edad}}</td>
      <th>{{empleado.fecha_nacimiento}}</th>
      <td>{{empleado.telefono}}</td>
      <th>{{empleado.correo}}</th>
      <td>{{empleado.colonia}}</td>
      <td>{{empleado.calle}}</td>
      <td>{{empleado.cp}}</td>
      <td>{{empleado.id_rol}}</td>
      <td>{{empleado.id_departamento}}</td>
      <td>
        <button (click)="modificar(empleado.id_empleado)" type="button" class="btn btn-primary">Editar</button>
      </td>
      <td>
        <button (click)="eliminar(empleado.id_empleado)" type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
