<div class="background"></div>
<div class="backdrop"></div>

<div class="login-box">
  <img src="https://qrcode.tec-it.com/API/QRCode?data=smsto%3a555-555-5555%3aGenerador+de+C%c3%b3digos+QR+de+TEC-IT">
  <form>
    <h3>Bienvenido</h3>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>N.Empleado/F.Cita</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
  </form>
  <form>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Login
    </a>

    <a (click)="Administrarcitas()"
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Register
    </a>
  </form>
  <br>
  <a (click)="Recover()">Olvidaste tu contraseña?</a>

</div>
