<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" style="width:75px;height:37px;position: relative;left: 10px;top: 10px" >Search</button>
</form>


<header class="Cabecera">
  <div class="modal-header">
    <h5 class="modal-title">Tabla de Roles</h5>
  </div>
</header>
<table>
  <thead>
  <tr>
    <th> # </th>
    <th>Folio</th>
    <th>Departamento</th>
  </tr>

  <tr>
  </tr>
  <tr>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> 1 </td>
    <td>15464313</td>
    <td> Recursos Humanos</td>
  </tr>
  <tr>
    <td> 2 </td>
    <td>15464313</td>
    <td> Recursos Humanos</td>
  </tr>
  <tr>
    <td> 3 </td>
    <td>15464313</td>
    <td> Recursos Humanos</td>
  </tr>
  <tr>
    <td> 4 </td>
    <td>15464313</td>
    <td> Recursos Humanos</td>
  </tr>
</table>
<footer>
</footer>
<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalNuevo">
  <i class="fas fa-edit"></i>
  <img src="https://cdn.icon-icons.com/icons2/1515/PNG/512/editdocument_105148.png">
</button> &nbsp;
<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalNuevo">
  <i class="fas fa-edit"></i>
  <img src="https://cdn.icon-icons.com/icons2/37/PNG/512/savetheapplication_guardar_2958.png">
</button>&nbsp;
<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalEliminar">
  <i class="fas fa-trash-alt"></i>
  <img src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png">
</button>
<input type="date" style="width: 23px;left: 1336px; top: -356px;height: 16px;background: white">

