
  <nav>
    <input type="text" [(ngModel)]="departamento" (input)="busqueda(departamento)" placeholder="Buscar">
  </nav>
  <header class="Cabecera">
    <div class="modal-header">
      <h5 class="modal-title">Usuarios Departamentos</h5>
    </div>
  </header>
  <table class="table table-bordered table-">
    <thead  class="thead-dark">
    <tr>
            <th scope="col">Nombre</th>
            <th> Descripción</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of ListaUserDep;let i=index">
          <tr >
            <td > {{item.nombre}}  </td>
            <td>{{item.descripcion}} </td>
          </tr>
        </tbody>
      </table>
  
  