<div class="container">
  <form id="new_customer" method="post">
    <div class="modal-header">
      <h5 class="modal-title">registrar citas</h5>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="input-field col s6"><br>
      <label>id cita</label>
      <input [(ngModel)]="citas.id_cita" type="number" class="form-control" placeholder="ID_CITA" name="id" required>
    </div>

    <div class="input-field col s6"><br>
      <label >Nombre</label>
      <input [(ngModel)]="citas.nombre" type="text" class="form-control" placeholder="Nombre" name="nombre" required>
    </div>
  </div>

  <div class="container6">
    <div class="input-field col s6"><br>
      <label >fecha</label>
      <input [(ngModel)]="citas.id_fechas" type="text" class="form-control" placeholder="ID_FECHA" name="fecha" required>
    </div>

    <div class="row">
      <div class="input-field col s6"><br>
        <label >tiempo de cita</label>
        <input [(ngModel)]="citas.tiempo_cita" type="text" class="form-control" placeholder="Tiempo Cita" name="tiempo" required>
      </div>
      <div class="input-field col s6"><br>
        <label >inicia</label>
        <input [(ngModel)]="citas.inicia" type="text" class="form-control" placeholder="inicio" name="inicio" required>
      </div>
      <div class="input-field col s6"><br>
        <label >termina</label>
        <input [(ngModel)]="citas.termina" type="text" class="form-control" placeholder="Termina" name="termina" required>

      </div>
    </div>
    <button (click)="agregar()" type="button" class="btn btn-success">Agregar</button>

  </div>
</div>

<div class=>
  <div class=><br>
  </div>
</div>
