
  table {
    background: white;
    width: 60%;
    height: 10%;
    margin-top: 2%;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    left: -12px;
    top: -10px;
  }
  
  
  tfoot {
    font-weight: bold;
  }
  
  tr:hover {
    background-color: cadetblue;
  }
  
  /* Estililos de clases*/
  .PrecioTotal:hover,
  .CantidadTotal:hover {
    color: rgb(230, 50, 50);
  }
  
  .Cabecera {
    background: white;
    width: 50%;
    margin: 1%;
    margin-top: 2%;
    text-align: center;
    color: black;
  
  }
  
  a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }
  
  button{
    margin: 10px;
  }
  img {
    width: 30px;
  }
  
 
  