<div class="container">
  <form id="new_customer" method="post">
    <div class="modal-header">
      <h5 class="modal-title">Editar Usuarios</h5>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="input-field col s6"><br>
      <label for="first_name">First Name</label>
      <input id="first_name" type="text" class="validate" required>
    </div>

    <div class="input-field col s6"><br>
      <label for="last_name">Apellidos</label>
      <input id="last_name" type="text" class="validate" required>
    </div>
  </div>

  <div class="container6">
    <div class="input-field col s6"><br>
      <label for="first_name">Email</label>
      <input id="email" type="text" class="validate" required>
    </div>


    <div class="row">
      <div class="input-field col s6"><br>
        <label for="first_name">Dirección 1</label>
        <input id="direccion1" type="text" class="validate" required>
      </div>
      <div class="row">
        <div class="input-field col s6"><br>
          <label for="first_name">Ciudad</label>
          <input id="ciudad" type="text" class="validate" required>
        </div>
        <div class="input-field col s6"><br>
          <label for="first_name">Estado</label>
          <input id="estado" type="text" class="validate" required>
        </div>
        <div class="input-field col s6"><br>
          <label for="first_name">Codigo postal</label>
          <input id="codigo postal" type="text" class="validate" required>
        </div>
      </div>


      <div class="container2">
        <div class="row">
          <div class="input-field col s6"><br>
            <label for="first_name">Departamento</label>
            <select class="form-select" id="state" required="">
              <option value=""></option>
              <option>Recursos Humanos</option>
              <option>Departamento de Marketing</option>
              <option>Departamento de Compras</option>
            </select>
            <div class="low">
              <div class="controls">
                <input type="date" id="arrive" class="floatLabel" name="arrive" value="<?php echo date('Y-m-d'); ?>">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container7">
        <div class="input-field col s6"><br>
          <label style="left: 10px;position: relative" for="first_name">Descripción</label>
          <h5  style="position: relative;left: 10px" class="resumen-up">Some example text thats fine, following within the dropdown menu.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container3">
  <img src="https://qrcode.tec-it.com/API/QRCode?data=smsto%3a555-555-5555%3aGenerador+de+C%c3%b3digos+QR+de+TEC-IT">
</div>

<div class="container8">
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalNuevo" >
    <i class="fas fa-edit"></i>
    <img  style="height: 35px;width: 35px;left:-120px;top:10px;" src="https://cdn.icon-icons.com/icons2/37/PNG/512/savetheapplication_guardar_2958.png">
  </button> &nbsp;
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalEliminar">
    <i class="fas fa-trash-alt"></i>
    <img style="height: 40px;width: 40px;left:-120px;top:5px;"src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png">
  </button>
</div>




