<h1 mat-dialog-title>Añadir Nuevo Departamento</h1>
<mat-dialog-content>
    <form >
        <div class="form-group">
            <mat-label>Nombre del Departamento: </mat-label>
            <mat-form-field appearance="fill">
                <input [(ngModel)]="departamento.descripcion" matInput placeholder="RH" name="departamento" required />
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button (click)="addDep()">Añadir</button>
            <button mat-raised-button (click)="closeMe()">Close</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
