<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" style="width:75px;height:37px;position: relative;left: 10px;top: 10px" >Search</button>
</form>

<header class="Cabecera">
  <div class="modal-header">
    <h5 class="modal-title">Registro de  Citas</h5>
  </div>
</header>
<div class="container">
  <p>registro de citas</p>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id Cita</th>
      <th scope="col">Nombre</th>
      <th scope="col">id fechas</th>
      <th scope="col">tiempo de Cita</th>
      <th scope="col">inicio de cita</th>
      <th scope="col">termino de cita</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let citas of ListarCitas">
      <th>{{citas.id_cita}}</th>
      <td>{{citas.nombre}}</td>
      <td>{{citas.id_fechas}}</td>
      <td>{{citas.tiempo_cita}}</td>
      <td>{{citas.inicia}}</td>
      <td>{{citas.termina}}</td>
      <td>
        <button (click)="modificar(citas.id_cita)" type="button" class="btn btn-primary">Modificar</button>
      </td>
      <td>
        <button (click)="delete(citas.id_cita)"type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>













