<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" style="width:75px;height:37px;position: relative;left: 10px;top: 10px" >Search</button>
</form>

<header class="Cabecera">
  <div class="modal-header">
    <h5 class="modal-title">Registro de  Citas</h5>
  </div>
</header>
<div class="container">
  <p>registro de citas</p>
  <button routerLink="/add" type="button" class="btn btn-primary">Agregar</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id Cita</th>
      <th scope="col">Id Empleado</th>
      <th scope="col">Id Usuario</th>
      <th scope="col">Id horario</th>
      <div>
        <button routerLink="/add" type="button" class="btn btn-primary">Agregar</button>
      </div>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let citas of ListarCitas">
      <th>{{citas.id_cita}}</th>
      <td>{{citas.id_Empleado}}</td>
      <td>{{citas.id_Usuario}}</td>
      <td>{{citas.id_Horario}}</td>

    </tr>

    <button routerLink="/add" type="button" class="btn btn-primary">Agregar</button>
    </tbody>
  </table>
</div>



