<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0 text-center">Modificar Horario</h2>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form action="/" method="put">
            <div class="form-floating mb-3">
              <input [(ngModel)]="lista.id_hremp" name="hora_inicial" class="form-control rounded-3" placeholder="hora_inicial" required />
              <label for="floatingInput">ID de Horario a Modificar</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="lista.usuario" name="hora_inicial" class="form-control rounded-3" placeholder="hora_inicial" required />
              <label for="floatingInput">ID de usuario a Modificar</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="lista.hora" name="hora_final" type="text" class="form-control rounded-3" id="hora_final" placeholder="hora_final" required />
              <label for="floatingPassword">ID de hora a Modificar</label>
            </div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="lista.dia" name="tipo" class="form-control rounded-3" placeholder="tipo" required />
                <label for="floatingInput">ID de dia a Modificar</label>
            </div>
            <a href="mostrar" class="w-100 mb-2 btn btn-lg rounded-3 btn-danger" (click)="EjecutaConsulta()">Modificar!</a>
        </form>
    </div>
  </div>
</div>
</div>