table {
    background: white;
    width: 60%;
    height: 10%;
    margin-top: 2%;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    left: -12px;
    top: -10px;
  }

  tr:hover {
    background-color: cadetblue;
  }