<div class="container">
  <form id="new_customer" method="post">
    <div class="modal-header">
      <h5 class="modal-title">Registrar Nuevo Empleado</h5>
    </div>
  </form>
</div>

<form [formGroup]="datos">
  <div class="container">
    <div class="row">
      <div class="input-field col s6"><br>
        <label for="first_name">First Name</label>
        <input [(ngModel)]="empleado.nombre" id="first_name" formControlName="firstName" type="text" class="validate" required>
      </div>

      <div class="input-field col s3"><br>
        <label for="last_namep">Apellido Paterno</label>
        <input [(ngModel)]="empleado.ap_paterno" id="last_namep" formControlName="apellidop" type="text" class="validate" required>
      </div>
      <div class="input-field col s3"><br>
        <label for="last_namem">Apellido Materno</label>
        <input [(ngModel)]="empleado.ap_materno" id="last_namem" formControlName="apellidom" type="text" class="validate" required>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12"><br>
        <label for="email">Email</label>
        <input [(ngModel)]="empleado.correo" id="email" formControlName="nombre" type="email" class="validate" required>
      </div>

      <div class="row">
        <div class="input-field col s4"><br>
          <label for="telefono">Telefono</label>
          <input [(ngModel)]="empleado.telefono" id="telefono" formControlName="telefono" type="tel" class="validate" required>
        </div>

        <div class="input-field col s4"><br>
          <label>Sexo</label>
          <select (change)="onSelectedSexo($event)" class="form-select">
            <option [value]="f">F</option>
            <option [value]="m">M</option>
          </select>
        </div>
        <div class="input-field col s4"><br>
          <label >Fecha de nacimiento</label>
          <input data-date-format="YYYY MMMM DD" value="1997-08-09" min="1990-01-01" max="2010-12-31" type="date">
        </div>
        <div class="row">
          <div class="input-field col s6"><br>
            <label >Colonia</label>
            <input [(ngModel)]="empleado.colonia" id="colonia" type="text" >
          </div>
          <div class="input-field col s6"><br>
            <label for="calle">Calle</label>
            <input [(ngModel)]="empleado.calle" formControlName="calle" id="calle" type="text" class="validate">
          </div>

          <div class="input-field col s6"><br>
            <label >Codigo Postal</label>
            <input [(ngModel)]="empleado.cp" id="codigo postal" type="text" class="validate" required>
          </div>

        </div>

      </div>

      <div class="container2">
        <div class="row">
          <div class="input-field col s6"><br>
            <label >Departamento</label>
            <select   (change)="onSelected($event)" class="form-select" >
              <option *ngFor="let item of ListarDepartamento" [value]="item.id_Departamento">{{item.id_Departamento}} {{item.descripcion}}</option>
            </select>
          </div>
          <div class="input-field col s6"><br>
            <label >Rol</label>
            <select   (change)="onSelectedRoles($event)" class="form-select" >
              <option *ngFor="let item of ListarRoles" [value]="item.id_roles">{{item.id_roles}} {{item.descripcion}}</option>
            </select>
          </div>
          <div class="row d-grid gap-3"><br>
            <button [disabled]="datos.invalid" (click)="agregar()" type="submit" class="btn btn-primary">Agregar</button>
            <button (click)="verLista()" type="submit" class="btn btn-primary">Ver</button>


          </div>
        </div>
      </div>
      <div class="container2">
        <img src="https://qrcode.tec-it.com/API/QRCode?data=smsto%3a555-555-5555%3aGenerador+de+C%c3%b3digos+QR+de+TEC-IT">
      </div>



    </div>
    <div class="container5">
      <img [src]="url" style="height:200px;width:200px;"><br>
      <input type="file" class="form-control form-control" x-model="fileName"(change)="onselectFile({e : $event})"style="position: relative;left: 820px;top: -285px;width:500px">
    </div>
  </div>
</form>
