
<!DOCTYPE html>
<HTML>
    <head >
      <title>Calendario de citas </title>
      
    </head>
    <body>
    <h1 style="text-align:center; margin-top:2% ">Horario para citas</h1>    

    <div id="input">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <form>
       
                <div class="form-group">
                  <label class="form-label">Fecha</label>
                  <input [(ngModel)]="newregistro.id_fechav" type="text" class="form-control" name="id_fechav">
             
                </div>
              <br>
        
                <div class="form-group">        
                  <label for="exampleFormControlInput1">Usuario</label>
                  <input [(ngModel)]="newregistro.id_usuariov" type="text" class="form-control" name="id_usuariov">
                </div>
               
        
                <br>
                <div class="form-group">
                 
                  <label for="exampleFormControlInput1">Dia</label>
                  <input [(ngModel)]="newregistro.diav" type="text" class="form-control" name="dia">
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Horario</label>
                  <input [(ngModel)]="newregistro.id_horariov" type="text" class="form-control" name="id_horariov">
                </div>
        
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="card">
            <div class="card-body">
             
              <a style="margin-left:20px ;"(click)="InsertDato()" href="#" class="btn btn-primary">Agregar</a>
              <br>
              <a style="margin-left:20px; margin-top: 15px;"(click)="UpdateDato()" href="#" class="btn btn-primary">Editar</a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container" >

     <table>
      <tr>
        <td>identificador</td>
        <td>Empleado</td>
        <td>Dia </td>
        <td>Hora de Entrada </td>
        <td>Hora de Salida</td>
        <td></td>
      
      </tr>
      
      <tr *ngFor= "let i of lista">
        <td>{{i.Identificador}}</td>
        <td>{{i.nombre}}</td>
        <td>{{i.dia}}</td>
        <td>{{i.inicial}}</td>
        <td>{{i.final}}</td>
        
        <td><button (click)="Delete(i.Identificador)" type="button" class="btn btn-primary">Borrar</button> </td>
      </tr>
      
    </table>
  </div>
 
  </body>
</HTML>
