#input{
    margin-top: 2%;
    margin-left: 30%;
    }
    
    #container{
    background-color: white;
    width: 1000px;
    margin-top: 2%;
    margin-left: 20%;
    border-color:slategray;
    border-width: solid black 12 px;
    border-style: solid;
    }
    
    th, td {
        width: 250px;
        text-align: center;
        border: 2px solid blue;
     }
    
     tr:hover {background-color: mediumaquamarine;}
    
     title{
        text-align: center;
     }