<!DOCTYPE html>
<htll>
    <head>
        
    </head>
    <body>
        
            <table class="default">

                <tr>
                    <th>Identificador</th>

                    <th>Departamentos</th>
                </tr>

                <tr>
                <td>Clave 1</td>     
                <td>Recursos Humanos</td>
            
                </tr>
            
                <tr>
                <td>Clave 2</td>
                <td>Marketing</td>          
                </tr>

                <tr>
                <td>Clave 3</td>
                <td>Desarrollo</td>          
                </tr>
            
                <tr>
                    <td>Clave 4</td>
                    <td>Gestion</td>          
                </tr>
                
                <tr>
                    <td>Clave 5</td>
                    <td>Sin departamentos</td>          
                </tr>
            
            </table>
    </body>
</htll>