
<div class="card-body">
  <h5 class="card-title">Llena los siguientes campos para recuperar tu contraseña</h5>
</div>
<h6>&nbsp;&nbsp;&nbsp;Numero de empleado/Folio de cita</h6>

<p>
  &nbsp;&nbsp;&nbsp;<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="">
</p>
<h6> &nbsp;&nbsp;&nbsp;Email</h6>
<p>
  &nbsp;&nbsp;&nbsp;<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="">
</p>
<p>
  &nbsp;&nbsp;<a href="#" class="boton azul">Enviar</a>
</p>
<img src="https://previews.123rf.com/images/123vector/123vector1708/123vector170800331/84954791-ilustraci%C3%B3n-del-icono-del-candado-del-c%C3%ADrculo-rojo.jpg?fj=1">

