<div>
  <br>
  <div class="card-body">
    <h5 class="card-title">Llena los siguientes campos para recuperar tu contraseña:</h5>
  </div>
  <h6>&nbsp;&nbsp;&nbsp;Numero de empleado/Folio de cita</h6>
  <p>
    &nbsp;&nbsp;&nbsp;<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="">
  </p>
  <h6> &nbsp;&nbsp;&nbsp;Email</h6>
  <p>
    &nbsp;&nbsp;&nbsp; <input id="email" type="text" class="validate" required>
  </p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left:4%" >Enviar</button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Mensaje Importante:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Tu contraseña ha sido enviada a tu email exitosamente.</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <img src="https://previews.123rf.com/images/123vector/123vector1708/123vector170800331/84954791-ilustraci%C3%B3n-del-icono-del-candado-del-c%C3%ADrculo-rojo.jpg?fj=1" alt="">
</div>



