<app-navbar></app-navbar>

<form>
    <fieldset>
      <legend>Citas</legend>
      <div class="mb-3">
        <label class="form-label">Nombre </label>
        <input type="text"  class="form-control" placeholder=" luis">
      </div>
      <div class="mb-2">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" id="Apellido" class="form-control" placeholder=" Pérez">
      </div>
      <div class="mb-1">
        <label for="disabledTextInput" class="form-label">Direccion </label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder=" calle 5 N° 80, Granjas ">
      </div>
      <div class="mb-4">
        <label for="disabledSelect" class="form-label">Direccion2</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder=" input">
      </div>
      <div class="mb-5">
        <label for="disabledTextInput" class="form-label">ciudad </label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder=" input">
      </div>
      <div class="mb-6">
        <label for="disabledSelect" class="form-label">Estado</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="mb-7">
        <label for="disabledSelect" class="form-label">c.p.</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="mb-8">
        <label for="disabledSelect" class="form-label">Departamento</label>
        <select id="disabledSelect" class="form-select">
          <option>Recursos Humanos</option>
          <option>Contabilidad</option>
        </select>
      </div>
      <div class="mb-8">
        <label for="disabledSelect" class="form-label">fecha:</label>
        <select id="disabledSelect" class="form-select">
          <option>DD/MM/AA</option>
          
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Finalizar y enviar</button>
    </fieldset>
  </form>
